@charset "UTF-8";

/* Declarando a paleta */

:root{
    --corfundo: rgb(255, 172, 172);
}
*{
    margin: 0px;
}
#container-fundo{
    margin: auto;
    background-color: var(--corfundo);
}

/* CSS DO HEADER */

.cabecalho{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 50px;
    align-items: center;
    height: 150px;
    background-color: rgba(0, 0, 255, 0.157);
}

#menu-principal > h1{
    display: none;
}

/* CSS DA SESSAO DE VIDEOS*/

/* CSS DO RODAPE*/

#rodape-principal{
    background-color: blueviolet;
}