@charset "UTF-8";

/* Declarando a paleta */

:root{
    --corfundo: rgb(255, 172, 172);
}
*{
    margin: 0px;
}
#container-fundo{
    margin: auto;
    width: 800px;
    background-color: var(--corfundo);
    border: 1px solid;
}

/* CSS DO HEADER */

.cabecalho{
    height: 150px;
    background-color: blue;
}